<a href="https://colab.research.google.com/github/zkibnksmh/MachineLearningTasks/blob/main/8thWeekTask/SVM_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Nama     : Zaky Ibnu Kusumah
#NIM      : 1103204213
#Kelas    : TK4404

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
import pandas as pd

# Ganti 'nama_file.csv' dengan nama file sebenarnya dan sesuaikan path jika diperlukan
file_path = '/content/drive/MyDrive/Dataset/Salary_Data.csv'

# Membaca file CSV ke dalam DataFrame
df = pd.read_csv(file_path)

df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0
6700,32.0,Male,High School,Sales Associate,3.0,50000.0
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26.0,Female,High School,Sales Executive,1.0,35000.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6702 non-null   float64
 1   Gender               6702 non-null   object
 2   Education Level      6701 non-null   object
 3   Job Title            6702 non-null   object
 4   Years of Experience  6701 non-null   float64
 5   Salary               6699 non-null   float64
dtypes: float64(3), object(3)
memory usage: 314.4+ KB

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

# Memilih fitur dan target
features = df[['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience']]
target = df['Salary']

# Mengubah variabel kategorikal menjadi variabel dummy
features = pd.get_dummies(features, drop_first=True)

# Membagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Standarisasi fitur
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Mengatasi nilai NaN pada fitur menggunakan SimpleImputer
imputer = SimpleImputer(strategy='mean')
X_train_scaled = imputer.fit_transform(X_train_scaled)
X_test_scaled = imputer.transform(X_test_scaled)

# Mengatasi nilai NaN pada target
y_train = y_train.fillna(y_train.mean())
y_test = y_test.fillna(y_train.mean())  # Ganti dengan y_test.mean() jika lebih sesuai

# Membuat model SVR
svr = SVR(kernel='linear')  # Anda dapat memilih kernel yang sesuai dengan data Anda

# Melatih model
svr.fit(X_train_scaled, y_train)

# Memprediksi data uji
y_pred = svr.predict(X_test_scaled)

# Menghitung mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 1712688258.541852